*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products_list{
    background-color: #5D737E;
    /* border: 3px solid blue; */
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 1%;
    padding: 1%;
}

.container{
    /* border: 3px solid green; */
    background-color: #432534;
    width: 100%;
    display: flex;
    justify-content: center;
}
